extends ../layout

block content
  h1= title

  form(action="/books/search" class="search-form")
    p
      label(for="search") SEARCH:
      input(type="search", name="term", placeholder="Search book by title")

    input(type="submit" value="Search")

  p
    a(class='button' href="/books/new") Create New Book
  
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
      tr
    tbody
    each book in books
      tr
        td 
          a(href = "/books/" + book.id)= book.title
        td= book.author
        td= book.genre
        td= book.year

  div#container
    
  script. 
    var search = window.location.search;
    var url = window.location.href;
    var pages = "#{pages}";
    var route = "#{routeUrl}";

    var elem = '';
    for (i=1;i<=pages; i++) {
      var pageNum = i;
      if (window.location.href.indexOf("/books/page") > -1 || window.location.href.indexOf("/books/search") > -1) {
        if (search) {
          elem += `<a class="toggleButton" href="/books/search/page/${pageNum}${search}">${pageNum}`;   
        }
        else {
          elem += `<a class="toggleButton" href="/books/page/${pageNum}">${pageNum}`;   
        }
      }
    }
    if (route) {
    document.getElementById('container').innerHTML = '<a href="/books">All Books</a>' + elem;
    } else {
    document.getElementById('container').innerHTML = '<a href="/books/page/1">Paginate</a>' + elem; 
    }
    var currentPage = window.location.pathname.split('/page/')[1];
    var selectedButton = document.querySelectorAll('#container a');
    if (window.location.href.indexOf('search?term') > -1) {
        document.querySelectorAll('#container a')[1].classList.add('active');
    }    
    for (var i = 0; i < selectedButton.length; i++) {
      if (!selectedButton[i].innerHTML.indexOf(currentPage)) {
        selectedButton[i].classList.add('active')
      } 
    }


    
